<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/categories' %>
  </div>
  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>

    <% if params[:w].present? %>
      <h2>Search Result: "<%= params[:w] %>"</h2>
      <% if @products.any? %>
        <div class="products-list row">
          <% @products.each do |product| %>
            <div class="col-md-4 product-item">
              <div class="thumbnail">
                <%= link_to image_tag(product.main_product_image.image.variant(resize_to_limit: [300, 300]), alt: product.title), product_path(product) %>
                <div class="caption">
                  <h4><%= link_to product.title, product_path(product) %></h4>
                  <p>Price: ¥<%= product.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No suitable products were found.</p>
      <% end %>
    <% else %>
      <%= render 'shared/products' %>
    <% end %>
  </div>
</div>
