<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Game Mall</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <div class="navbar-form navbar-left" style="display: flex; align-items: center;">
      <!-- Search form -->
      <%= form_tag search_products_path, method: :get, class: "form-inline" do %>
        <div class="form-group">
          <% if @category %>
            <input type="hidden" name="category_id" value="<%= @category.id %>">
          <% end %>
          <input type="text" name="w" value="<%= params[:w] %>" class="form-control search-input" placeholder="<%= @category ? "在 #{@category.title} 下搜索.." : 'Search throughout site..' %>">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      <% end %>

      <!-- Categories Dropdown -->
      <div class="btn-group" style="margin-left: 10px;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">PS</li>
          <li><a href="<%= category_path(18) %>">Adventure Game (PS)</a></li>
          <li><a href="<%= category_path(12) %>">First Person Shooting (PS)</a></li>
          <li><a href="<%= category_path(15) %>">Real Time Strategy (PS)</a></li>
          <li><a href="<%= category_path(9) %>">Role Playing Game (PS)</a></li>
          <li><a href="<%= category_path(21) %>">Simulation Game (PS)</a></li>

          <li role="separator" class="divider"></li>

          <li class="dropdown-header">Xbox</li>
          <li><a href="<%= category_path(17) %>">Adventure Game (Xbox)</a></li>
          <li><a href="<%= category_path(14) %>">Real Time Strategy (Xbox)</a></li>
          <li><a href="<%= category_path(20) %>">Simulation Game (Xbox)</a></li>
          <li><a href="<%= category_path(7) %>">Role Playing Game (Xbox)</a></li>
          <li><a href="<%= category_path(11) %>">First Person Shooting (Xbox)</a></li>

          <li role="separator" class="divider"></li>

          <li class="dropdown-header">NS</li>
          <li><a href="<%= category_path(16) %>">Adventure Game (NS)</a></li>
          <li><a href="<%= category_path(8) %>">Role Playing Game (NS)</a></li>
          <li><a href="<%= category_path(10) %>">First Person Shooting (NS)</a></li>
          <li><a href="<%= category_path(13) %>">Real Time Strategy (NS)</a></li>
          <li><a href="<%= category_path(19) %>">Simulation Game (NS)</a></li>
        </ul>
      </div>
    </div>



      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Cart#{@shopping_cart_count}", shopping_carts_path %></li>
        <% unless logged_in? %>
          <li><a href="<%= new_user_path %>">Register</a></li>
          <li><a href="<%= new_session_path %>">Login</a></li>
        <% else %>
          <li><a href="#">Welcome <%= current_user.username %></a></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Center <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dashboard_orders_path %>">My Order</a></li>
            <li><a href="<%= dashboard_addresses_path %>">My Address</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= dashboard_password_path %>">My Profile</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
